body{
  background-color: var(--background-color);
  margin: 0;
  color: var(--font-color);
  font-family: 'Gowun Dodum', sans-serif;
  font-weight: 700;
}
.container{
  display: flex;
  flex-direction: column;
  margin: 20px auto auto auto;
  min-width: 550px;
  max-width: 700px;
}

/* 부여용 클래스 */
.hidden{
  display: none;
}

/* 색상 변수 */
:root {
  --font-color: #2c353e;
  --background-color: #eeeeee ;
  --container-color: white ;
  --border-color: #474539;
  --point-color: #fbae61;
  --button-color: #474539;
}