/* 상단 프로필 */
.profile{
  
  background-color: var(--container-color);
  border: 1px solid var(--border-color);
  display: flex;
  flex-direction: row;
  border-radius: 10px 10px 0px 0px;
}
.profile-info{
  width: 396px;
  flex: 1;
  display: flex;
  padding-left: 30px;
  flex-direction: column;
  vertical-align: top;
}
.profile-info >*{
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px 0px 10px 0px;
}
.profile-info h3{
  font-size: 18pt;
  letter-spacing: 10px;
  padding-left: 10px;
  padding-bottom: 0px;
  margin-top: 10px;
}
.profile-info h4{
  font-size: 15pt;
  padding-left: 10px;
}
.profile-info h4:nth-child(2){
  padding-bottom: 0px;
}
.profile-info h4:nth-child(3){
  padding-left: 10px;
  padding-top: 5px;
  font-size: 12pt;
  padding-bottom: 0px;
}

.interest{
  display: flex;
  text-align: center;
  gap: 5px;
  padding-top: 2px;
  padding-left: 10px;
}
.interest >*{
  background-color: var(--container-color);
  border-style: solid;
  border-width: 1px;
  border-radius: 7px;
  padding: 5px;
  font-weight: 500;
}
.interest span:nth-child(1){
  color: rgb(115, 39, 187);
  border-color: rgb(115, 39, 187);
  text-shadow: 0px 0px 1px black;
  box-shadow: 0px 0px 1px black;
}
.interest span:nth-child(2){
  color: rgb(15, 129, 27);
  border-color: rgb(15, 129, 27);
  text-shadow: 0px 0px 1px black;
  box-shadow: 0px 0px 1px black;
}
.interest span:nth-child(3){
  color: rgb(46, 65, 193);
  border-color: rgb(46, 65, 193);
  text-shadow: 0px 0px 1px black;
  box-shadow: 0px 0px 1px black;
}
.interest span:nth-child(4){
  color: rgb(238, 54, 192);
  border-color: rgb(238, 54, 192);
  text-shadow: 0px 0px 1px black;
  box-shadow: 0px 0px 1px black;
}
.profile-img{
  border-radius: 50%;
  max-width: 200px;
  max-height: 200px;
  display: inline-block;
  object-fit: cover;
  object-position: center;
  box-sizing: border-box;
  padding: 8px;
  flex-shrink: 0;
}


/* 상단 자기소개 */
.introduce{
  margin-top: -1px;
  margin-bottom: 20px;
  padding: 25px 30px 25px 30px;
  background-color: var(--container-color);
  font-size: 13pt;
  line-height: 145%;
  border: 1px solid var(--border-color);
  border-radius: 0px 0px 10px 10px;
  box-sizing: border-box;
  position: relative;
}
.introduce button{
  width: 45px;
  position: absolute;
  right: -1px;
  top: 0px;
  box-sizing: border-box;
  border-right: none;
  border-top: none;
  border-left: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  background-color: var(--button-color);
  color: white;
  border-radius: 0px 0px 0px 5px;
}
